
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rowdies:wght@300;400;700&display=swap');


 
.layout{
color:#FFFF;
  font-family: "Roboto";

    font-size:22px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: .2fr 0.7fr 0.6fr .7fr .7fr;
    grid-template-areas: "header"
                         "aboutme"
                         "techxpo"
                         "services"
                        "footer";
}

nav {
    font-family: "Rowdies",'Times New Roman', Times, serif;
    color:   #800000;;

}
.header{
   color: #EB5B00;
    grid-area: header;
    background-color: #000435;
}
.aboutme{
     grid-area: aboutme;
}

.aboutMeContent{
    box-shadow: 0px 0px 30px rgba(76, 0, 130, 0.459); 
}

.aboutmeunderline{position: relative
}
.aboutmeunderline::before{
    content: "";
    background-color: chocolate;
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    width: 60px;
    height: 3px;
    border-radius: 5px;


}

.techxpo{ 
    background-color: brown;
     grid-area: header;

}
.techxpounderline{position: relative
}
.techxpounderline::before{
    content: "";
    background-color: chocolate;
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    width: 183px;
    height: 3px;
    border-radius: 5px;


}
.services{
     grid-area: services;
     background-color: rgba(0, 0, 0, 0.393);
}


.serviceunderline{position: relative
}
.serviceunderline::before{
    content: "";
    background-color: chocolate;
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    width: 120px;
    height: 5px;
    border-radius: 5px;
}
.footer{
     grid-area: footer;
     background-color: #000435;
     color:whitesmoke;
}

.active{
    text-decoration: underline;
    color: #EB5B00;
    text-decoration-thickness: 5px;
    text-decoration-color: #800000;
}